<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
  <meta charset="UTF-8">
  <title>ToDoList App</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div ng-controller="todoController">
    <form name="frm" ng-submit="addTodo()">
      <input type="text" name="newtodo" ng-model="newTodo" required />
      <button ng-disabled="frm.$invalid">Go</button>
    </form>
    <button ng-click="clearCompleted()">Clear Completed</button>
    <ul class="basic">
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span ng-class="{'done':todo.done}">{{todo.title}}</span>
      </li>
    </ul>
  </div>
<script src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/todoapp.js"></script>
</body>
</html>